# Django #
migrations/
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
/static/
tmp/
# Python #
*.py[cod]
*$py.class
# Environments
.env
.venv
.backend
env/
env1/
venv/
ENV/
env.bak/
venv.bak/
# Visual Studio Code #
.vscode
.ionide
# Windows file configs
*desktop.ini
# React node modules
node_modules/